*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dongle";
}
a{
    text-decoration: none;
    font-size: 28px;
    color: white;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .logo{
    width: 100%;
    height: 70px;
    background-color: #302f2f;
}
header .logo .fa{
    margin-top: 20px;
    margin-left: 30px;
}
.icon{
    width: 60px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}
.icon a .fa{
    margin-top: 20px;
    margin-right: 20px;
}
.side{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100%;
    width: 100%;
    height: 600px;
    background-color: tomato;
    transition: 0.5s;

}
.side .close{
    position: absolute;
    right: 10px;
    top: 15px;
}
.side ul li{
    padding: 30px 0;
}

